a:active {
    color: #333366;
    text-decoration: none;
}

a:hover {
    color: #ff0000;
    text-decoration: underline;
}

a:link {
    color: #333366;
    text-decoration: none;
}

a.navlink:hover {
    color: #ffffff;
    text-decoration: underline;
}

a.navlink:link {
    color: #ffffff;
    text-decoration: none;
}

a.navlink:visited {
    color: #ffffff;
    text-decoration: none;
}

a:visited {
    color: #333366;
    text-decoration: none;
}

body {
    font-size: 12px;
    margin: 0px;
    background-color: #fffeee;
    text-align: center;
}

form {
    margin-top: 3px;
    font-size: 12px;
    margin-bottom: 0;
    font-family: "Tahoma", "MS Shell Dlg";
}

.footer {
    width: 778px;
    margin: 5px auto;
    text-align: left;
    padding: 6px;
    border: 2px solid #000000;
    color: #000000;
}

.header {
    width: 778px;
    height: 39px;
    margin: 0 auto;
    padding: 4px 2px 2px 10px;
    text-align: left;
    background-color: #fffeee;
}

    .header logo {
        width: 256px;
        float: left;
    }

    .header ul {
        width: 490px;
        float: right;
        height: 16px;
    }

        .header ul li {
            width: 96px;
            text-align: center;
        }

            .header ul li a:hover {
                background-color: #000000;
            }

    .header .status {
        width: 330px;
        float: right;
        margin-top: 5px;
        margin-right: 8px;
        padding: 6px;
        color: #fffeee;
        background-color: #8c8ea3;
    }

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.gamebox {
    text-align: center;
    width: 958px;
    border: 3px solid black;
    padding: 30px;
    margin: 30px auto;
    display: flex;
    justify-content: space-around;
}