a:active {
    color: #333366;
    text-decoration: none;
}

a:hover {
    color: #ff0000;
    text-decoration: underline;
}

a:link {
    color: #333366;
    text-decoration: none;
}

a.navlink:hover {
    color: #ffffff;
    text-decoration: underline;
}

a.navlink:link {
    color: #ffffff;
    text-decoration: none;
}

a.navlink:visited {
    color: #ffffff;
    text-decoration: none;
}

a:visited {
    color: #333366;
    text-decoration: none;
}

body {
    font-size: 12px;
    margin: 0px;
    background-color: #fffeee;
    text-align: center;
}

form {
    margin-top: 3px;
    font-size: 12px;
    margin-bottom: 0;
    font-family: "Tahoma", "MS Shell Dlg";
}

.footer {
    width: 778px;
    margin: 5px auto;
    text-align: left;
    padding: 6px;
    border: 2px solid #000000;
    color: #000000;
}

.header {
    width: 778px;
    height: 39px;
    margin: 0 auto;
    padding: 4px 2px 2px 10px;
    text-align: left;
    background-color: #fffeee;
    border: dashed;
}

    .header .logo {
        vertical-align: middle;
        height: 35px;
        width: 35px;
        float: left;
    }

    .header ul {
        width: 490px;
        float: right;
        height: 16px;
    }

        .header ul li {
            width: 96px;
            text-align: center;
        }

            .header ul li a:hover {
                background-color: #000000;
            }

    .header .status {
        width: 400px;
        float: right;
        margin-top: 5px;
        margin-right: 8px;
        padding: 6px;
        color: #fffeee;
        background-color: #8c8ea3;
    }

.gamebox {
    text-align: center;
    width: 958px;
    border: 3px solid black;
    padding: 30px;
    margin: 30px auto;
    display: flex;
    height: 106px;
}

    .gamebox .gamespan-title {
        float: left;
        font-size: 24px;
        font-weight: bold;
    }

    .gamebox .gamespan-intro {
        float: left;
    }

    .gamebox .gamelogo {
        float: left;
        vertical-align: middle;
        height: 108px;
        width: 108px;
    }

.addgamebox {
    text-align: left;
    width: 500px;
    border: 3px solid #fffeee;
    padding: 30px;
    margin: 30px auto;
    display: flex;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
}

    .addgamebox .functionbtn {
        vertical-align: top;
    }