/*神奇望制作：
http://magicwang.club/
*/
a:active {
    color: #333366;
    text-decoration: none;
}

a:hover {
    color: #ff0000;
    text-decoration: underline;
}

a:link {
    color: #333366;
    text-decoration: none;
}

a.navlink:hover {
    color: #ffffff;
    text-decoration: underline;
}

a.navlink:link {
    color: #ffffff;
    text-decoration: none;
}

a.navlink:visited {
    color: #ffffff;
    text-decoration: none;
}

a:visited {
    color: #333366;
    text-decoration: none;
}

body {
    font-size: 12px;
    margin: 0px;
    background-color: #fffeee;
    text-align: center;
    height: 685px;
}

form {
    margin-top: 3px;
    font-size: 12px;
    margin-bottom: 0;
    font-family: "Tahoma", "MS Shell Dlg";
}

.footer {
    width: 778px;
    margin: 5px auto;
    text-align: left;
    padding: 6px;
    border: 2px solid #000000;
    color: #000000;
}

.header {
    border-color: inherit;
    border-width: medium;
    width: 778px;
    height: 47px;
    margin: 0 auto;
    padding: 4px 2px 2px 10px;
    text-align: left;
    background-color: #fffeee;
}

    .header .logo {
        vertical-align: middle;
        height: 35px;
        width: 35px;
        float: left;
    }

    .header ul {
        width: 490px;
        float: right;
        height: 16px;
    }

        .header ul li {
            width: 96px;
            text-align: center;
        }

            .header ul li a:hover {
                background-color: #000000;
            }

    .header .status {
        width: 400px;
        float: right;
        margin-top: 5px;
        margin-right: 8px;
        padding: 6px;
        color: #fffeee;
        background-color: #8c8ea3;
    }

.gamebox {
    text-align: center;
    display: flex;
    width: 1200px;
    height: 111px;
    border: 3px solid gold;
    border-radius: 20px;
    padding: 30px;
    margin: 30px auto;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 25px 50px -10px, rgba(0, 0, 0, 0.3) 0px 15px 30px -15px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

    .gamebox .gamespan-title {
        width: 600px;
        margin: auto;
        font-size: 24px;
        font-weight: bold;
        white-space: nowrap;
    }

    .gamebox .gamespan-intro {
        margin: auto;
        font-size: 16px;
        width: 500px;
    }

    .gamebox .gamelogo {
        float: left;
        width: 240px;
        height: 111px;
        vertical-align: middle;
    }

    .gamebox .pressmore {
        margin: auto;
        color: rgb(88 88 88 / 0.75);
    }

.addgamebox {
    text-align: left;
    width: 500px;
    border: 3px solid #fffeee;
    padding: 30px;
    margin: 30px auto;
    display: flex;
    height: 59%;
    display: flex;
    flex-wrap: wrap;
}

    .addgamebox .functionbtn {
        vertical-align: top;
        margin: auto;
    }

.headerbox {
    border-style: solid;
    border-color: inherit;
    border-width: 5px;
    width: 312px;
    float: right;
    margin: auto;
    padding: 6px;
    position: relative;
    overflow: hidden;
    border-image: linear-gradient(45deg, gold, deeppink) 1;
    clip-path: inset(0px round 5px);
    animation: headerboxAni 3s infinite linear;
    filter: hue-rotate(360deg);
    top: 0px;
    left: 0px;
}

@keyframes headerboxAni {
    0% {
        filter: hue-rotate(0deg);
    }

    100% {
        filter: hue-rorate(360deg);
    }
}

.niceButton2 {
    border-radius: 20px;
    border-style: none;
    border-color: inherit;
    border-width: medium;
    position: relative;
    background-color: rgb(32, 93, 224);
    font-size: 14px;
    color: #ffffff;
    padding: 5px;
    width: 73px;
    text-align: center;
    transition-duration: 0.6s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
    top: 2px;
    left: 2px;
    height: 32px;
}

    .niceButton2::after {
        content: '';
        background: #53a4f0;
        display: block;
        position: absolute;
        padding-top: 300%;
        padding-left: 350%;
        margin-left: -20px !important;
        margin-top: -120%;
        opacity: 0;
        transition: all 0.8s;
    }

    .niceButton2:active::after {
        padding: 0;
        margin: 0;
        opacity: 1;
        transition: 0s;
    }

.gamecontentbox {
    text-align: center;
    display: grid;
    width: 1200px;
    height: 600px;
    border: 3px solid gold;
    border-radius: 20px;
    padding: 30px;
    margin: 30px auto;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 25px 50px -10px, rgba(0, 0, 0, 0.3) 0px 15px 30px -15px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

    .gamecontentbox .gamespan-title {
        margin: auto;
        font-size: 24px;
        font-weight: bold;
        white-space: nowrap;
    }

    .gamecontentbox .gamespan-intro {
        margin: auto;
        font-size: 16px;
        width: 500px;
    }

    .gamecontentbox .gamelogo {
        float: left;
        width: 240px;
        height: 111px;
        vertical-align: middle;
    }

    .gamecontentbox .gameprice {
        padding: 3px;
        font-size: 22px;
        background-color: #009408;
        border: 2px solid rgb(0 148 8 / 0.29);
        border-radius: 12px;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 5px 10px -2px inset, rgba(0, 0, 0, 0.3) 0px 3px 6px -3px inset;
    }